<section class="pb_section">
  <div class="multiple-items pb_slide_v1">
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_4.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Criminal Law</h2>
          <p>Read More</p>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_2.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Migration Law</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_3.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Civil Rights</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_4.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Property Law</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_1.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Civil Rights</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_2.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>State Laws</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="link-block">
        <img src="assets/images/1900x1200_img_3.jpg" alt="" class="img-fluid">
        <div class="slide-text">
          <h2>Immigration Laws</h2>
          <span>Read More</span>
        </div>
      </a>
    </div>
  </div>

</section>