<section class="pb_section pb_section_v1" data-section="about" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-md-5 pr-sm-0" dir="rtl">
        <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">{{about.title}}</h2>
        <p  *ngFor="let des of about.descriptions">{{des}}</p>
      </div>
      <div class="col-lg-7">
        <div class="images">
          <img class="img1 img-fluid" src="assets/images/about1.jpg" alt="free Template by uicookies.com">
          <img class="img2" src="assets/images/about2.jpg" alt="free Template by uicookies.com">
        </div>
      </div>
      
    </div>
  </div>  
</section>